Repository tedilabs/terraform-aws-observability, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

Update dependabot
  .github/dependabot.yml
Labels: none

Support link configurations for oam-link
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/main.tf
  modules/cloudwatch-oam-link/outputs.tf
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

Support link configurations for oam-link (#32)
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/main.tf
  modules/cloudwatch-oam-link/outputs.tf
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-sink/README.md
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#34)
  README.md
Labels: none

feat: improve how to use resource_group in modules
  modules/cloudwatch-log-group/outputs.tf
  modules/cloudwatch-log-group/resource-group.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-oam-link/outputs.tf
  modules/cloudwatch-oam-link/resource-group.tf
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-sink/outputs.tf
  modules/cloudwatch-oam-sink/resource-group.tf
  modules/cloudwatch-oam-sink/variables.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

feat: improve how to use resource_group in modules (#35)
  modules/cloudwatch-log-group/outputs.tf
  modules/cloudwatch-log-group/resource-group.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-oam-link/outputs.tf
  modules/cloudwatch-oam-link/resource-group.tf
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-sink/outputs.tf
  modules/cloudwatch-oam-sink/resource-group.tf
  modules/cloudwatch-oam-sink/variables.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

Remove deprecated pull-request-labeler.yaml workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels.yaml workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#36)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated welcome.yaml workflow
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated welcome.yaml workflow (#40)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#42)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none

chore: fix module labels in .github/labels.yaml (#43)
  .github/labels.yaml
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

fix(examples): correct terraform and provider version constraints
  examples/cloudwatch-log-group-full/versions.tf
  examples/cloudwatch-log-group-simple/versions.tf
  examples/cloudwatch-oam-cross-account-observability/versions.tf
Labels: none

fix(examples): correct terraform and provider version constraints (#44)
  examples/cloudwatch-log-group-full/versions.tf
  examples/cloudwatch-log-group-simple/versions.tf
  examples/cloudwatch-oam-cross-account-observability/versions.tf
Labels: none

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-sink/README.md
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

.github/labeler.yaml:

# Modules
":floppy_disk: cloudwatch-log-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudwatch-log-group/**/*

":floppy_disk: cloudwatch-log-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudwatch-log-policy/**/*

":floppy_disk: cloudwatch-oam-link":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudwatch-oam-link/**/*

":floppy_disk: cloudwatch-oam-sink":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudwatch-oam-sink/**/*
