Repository tedilabs/terraform-aws-observability, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

.github/labeler.yaml:

# Modules
":floppy_disk: cloudwatch-log-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudwatch-log-group/**/*

":floppy_disk: cloudwatch-log-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudwatch-log-policy/**/*

":floppy_disk: cloudwatch-oam-link":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudwatch-oam-link/**/*

":floppy_disk: cloudwatch-oam-sink":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudwatch-oam-sink/**/*

docs: regenerate terraform-docs with shared config (#46)
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-sink/README.md
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/github-actions.integration.yaml via Terraform
  .github/workflows/github-actions.integration.yaml
Labels: none

chore: remove excessive blank lines around resource_group variable
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-sink/variables.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .mise/conf.d/common.toml via Terraform
  .mise/conf.d/common.toml
Labels: none

chore: remove excessive blank lines around resource_group variable
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-sink/variables.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

chore: remove excessive blank lines above resource_group variables
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-sink/variables.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

chore: remove excessive blank lines above resource_group variables (#48)
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-sink/variables.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

chore(cloudwatch-log-group): require terraform >= 1.12
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/versions.tf
Labels: :floppy_disk: cloudwatch-log-group

chore(cloudwatch-log-policy): require terraform >= 1.12
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/versions.tf
Labels: :floppy_disk: cloudwatch-log-policy

chore(cloudwatch-oam-link): require terraform >= 1.12
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/versions.tf
Labels: :floppy_disk: cloudwatch-oam-link

chore(cloudwatch-oam-sink): require terraform >= 1.12
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-oam-sink

chore(cloudwatch-oam-sink): require terraform >= 1.12 (#52)
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-oam-sink

chore(cloudwatch-oam-link): require terraform >= 1.12 (#51)
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/versions.tf
Labels: :floppy_disk: cloudwatch-oam-link

chore(cloudwatch-log-group): require terraform >= 1.12 (#49)
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/versions.tf
Labels: :floppy_disk: cloudwatch-log-group

chore(cloudwatch-log-policy): require terraform >= 1.12 (#50)
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/versions.tf
Labels: :floppy_disk: cloudwatch-log-policy

feat: collect module usage telemetry
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/telemetry.tf
  modules/cloudwatch-log-group/versions.tf
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/telemetry.tf
  modules/cloudwatch-log-policy/versions.tf
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/telemetry.tf
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/telemetry.tf
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

feat: collect module usage telemetry (#53)
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/telemetry.tf
  modules/cloudwatch-log-group/versions.tf
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/telemetry.tf
  modules/cloudwatch-log-policy/versions.tf
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/telemetry.tf
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/telemetry.tf
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

fix: honor telemetry opt-out
  modules/cloudwatch-log-group/telemetry.tf
  modules/cloudwatch-log-policy/telemetry.tf
  modules/cloudwatch-oam-link/telemetry.tf
  modules/cloudwatch-oam-sink/telemetry.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

fix: honor telemetry opt-out (#54)
  modules/cloudwatch-log-group/telemetry.tf
  modules/cloudwatch-log-policy/telemetry.tf
  modules/cloudwatch-oam-link/telemetry.tf
  modules/cloudwatch-oam-sink/telemetry.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

feat: support pseudonymization and HCP Terraform metadata in telemetry
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/telemetry.tf
  modules/cloudwatch-log-group/versions.tf
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/telemetry.tf
  modules/cloudwatch-log-policy/versions.tf
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/telemetry.tf
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/telemetry.tf
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink
