Repository tedilabs/terraform-aws-observability, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

Support skip_destroy for cloudwatch-log-group module
  examples/cloudwatch-log-group-full/main.tf
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/main.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-log-group/versions.tf
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/versions.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy

Support skip_destroy for cloudwatch-log-group module (#12)
  examples/cloudwatch-log-group-full/main.tf
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/main.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-log-group/versions.tf
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/versions.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy

Support metric_filters for cloudwatch-log-group module
  examples/cloudwatch-log-group-full/main.tf
  examples/cloudwatch-log-group-full/outputs.tf
  examples/cloudwatch-log-group-full/versions.tf
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/main.tf
  modules/cloudwatch-log-group/outputs.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-log-group/versions.tf
Labels: :floppy_disk: cloudwatch-log-group

Add cloudwatch-log-group-simple example
  README.md
  examples/cloudwatch-log-group-simple/main.tf
  examples/cloudwatch-log-group-simple/outputs.tf
  examples/cloudwatch-log-group-simple/versions.tf
Labels: none

Update terraform required versions for examples
  examples/cloudwatch-log-policy-es/versions.tf
  examples/cloudwatch-log-policy-route53/versions.tf
  examples/cloudwatch-oam-cross-account-observability/versions.tf
Labels: none

Support metric_filters for cloudwatch-log-group module (#13)
  README.md
  examples/cloudwatch-log-group-simple/main.tf
  examples/cloudwatch-log-group-simple/outputs.tf
  examples/cloudwatch-log-group-simple/versions.tf
  examples/cloudwatch-log-policy-es/versions.tf
  examples/cloudwatch-log-policy-route53/versions.tf
  examples/cloudwatch-oam-cross-account-observability/versions.tf
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/main.tf
  modules/cloudwatch-log-group/outputs.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-log-group/versions.tf
Labels: :floppy_disk: cloudwatch-log-group

Bump to v0.2.1
  VERSION
Labels: none

Update cloudwatch-log-group-full example
  examples/cloudwatch-log-group-full/main.tf
Labels: none

Improve docs for cloudwatch-log-group module
  examples/cloudwatch-log-group-full/main.tf
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/variables.tf
Labels: :floppy_disk: cloudwatch-log-group

Update pre-commit config
  .pre-commit-config.yaml
Labels: none

WIP
  modules/cloudwatch-composite-alarm/README.md
  modules/cloudwatch-composite-alarm/main.tf
  modules/cloudwatch-composite-alarm/outputs.tf
  modules/cloudwatch-composite-alarm/resource-group.tf
  modules/cloudwatch-composite-alarm/variables.tf
  modules/cloudwatch-composite-alarm/versions.tf
  modules/cloudwatch-metric-alarm/README.md
  modules/cloudwatch-metric-alarm/main.tf
  modules/cloudwatch-metric-alarm/outputs.tf
  modules/cloudwatch-metric-alarm/resource-group.tf
  modules/cloudwatch-metric-alarm/variables.tf
  modules/cloudwatch-metric-alarm/versions.tf
Labels: none

WIP
  modules/cloudwatch-composite-alarm/main.tf
  modules/cloudwatch-composite-alarm/versions.tf
  modules/cloudwatch-metric-alarm/main.tf
  modules/cloudwatch-metric-alarm/outputs.tf
  modules/cloudwatch-metric-alarm/variables.tf
  modules/cloudwatch-metric-alarm/versions.tf
Labels: none

Update terraform version to v1.5
  .pre-commit-config.yaml
  examples/cloudwatch-log-group-full/versions.tf
  examples/cloudwatch-log-group-simple/versions.tf
  examples/cloudwatch-log-policy-es/versions.tf
  examples/cloudwatch-log-policy-route53/versions.tf
  examples/cloudwatch-oam-cross-account-observability/versions.tf
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/versions.tf
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/versions.tf
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

Update terraform version to v1.5 (#20)
  .pre-commit-config.yaml
  examples/cloudwatch-log-group-full/versions.tf
  examples/cloudwatch-log-group-simple/versions.tf
  examples/cloudwatch-log-policy-es/versions.tf
  examples/cloudwatch-log-policy-route53/versions.tf
  examples/cloudwatch-oam-cross-account-observability/versions.tf
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/versions.tf
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/versions.tf
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-log-group, :floppy_disk: cloudwatch-log-policy, :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

Support eventbridge for cloudwatch-log-policy module
  modules/cloudwatch-log-policy/README.md
  modules/cloudwatch-log-policy/policy.tf
  modules/cloudwatch-log-policy/variables.tf
Labels: :floppy_disk: cloudwatch-log-policy

Bump to v0.2.2
  VERSION
Labels: none

Update dependabot
  .github/dependabot.yml
Labels: none

Support new telemetry types for oam
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/variables.tf
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

Support new telemetry types for oam (#31)
  modules/cloudwatch-oam-link/README.md
  modules/cloudwatch-oam-link/variables.tf
  modules/cloudwatch-oam-link/versions.tf
  modules/cloudwatch-oam-sink/README.md
  modules/cloudwatch-oam-sink/variables.tf
  modules/cloudwatch-oam-sink/versions.tf
Labels: :floppy_disk: cloudwatch-oam-link, :floppy_disk: cloudwatch-oam-sink

Bump to v0.2.3
  VERSION
Labels: none

.github/labeler.yaml:

# Modules
":floppy_disk: cloudwatch-log-group":
- modules/cloudwatch-log-group/**/*
":floppy_disk: cloudwatch-log-policy":
- modules/cloudwatch-log-policy/**/*
":floppy_disk: cloudwatch-oam-link":
- modules/cloudwatch-oam-link/**/*
":floppy_disk: cloudwatch-oam-sink":
- modules/cloudwatch-oam-sink/**/*
